/* ---- base ---- */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

/* header styling */
.container h3 {
  font-size: 30px;
  text-align: center;
  color: #ddd;
  font-weight: 200;
  margin-bottom: 20px;
  margin-top: -20px;
}

/* Name animation */
#logo {
  padding-bottom: 2rem;
  animation: fill 1s ease forwards 2s;
}

#J {
  stroke-dasharray: 494;
  stroke-dashoffset: 494;
  animation: line-anim 2s ease forwards;
}

#o {
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
  animation: line-anim 2s ease forwards 0.2s;
}

#s {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  animation: line-anim 2s ease forwards 0.4s;
}

#h {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  animation: line-anim 2s ease forwards 0.6s;
}

/* background color for socials */
.socials i,
.socials,
.container h1 {
  background-color: transparent;
  text-decoration: none;
}

/* icon styling */
.socials {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: none;
  outline: none;
  animation: socials-raise 2.5s ease forwards;
}

/* background color and transtion styling for images */
.socials i {
  transition: 0.5s;
  font-size: 48px;
  color: #ddd;
}

/* on hover animations for images */
#github i:hover {
  transition: all 0.5s ease;
  transform: translateY(-15px);
  color: #000000 !important;
}

#twitter i:hover {
  transition: all 0.5s ease;
  transform: translateY(-15px);
  color: #00acee !important;
}

#discord i:hover {
  transition: all 0.5s ease;
  transform: translateY(-15px);
  color: #7289da !important;
}

#linkedin i:hover {
  transition: all 0.5s ease;
  transform: translateY(-15px);
  color: #2867b2 !important;
}

/* navigation bar animation */
.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #a51d38;
  opacity: 0.9;
  overflow-x: hidden;
  padding: 0;
  transition: 0.6s;
}

.nav a {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0 5rem 0;
  padding: 20px 30px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(173, 171, 171);
}

#selected {
  color: #fff;
}

.nav a:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.nav .close {
  position: absolute;
  top: 0;
  right: 22px;
  margin-left: 50px;
  font-size: 30px;
}

#content {
  padding: 1.5rem;
  transition: margin-left 0.7s;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 10;
}

/* Hamburger-animation icon */
#nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  /* margin: 10% auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ddd;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Paticles.js container */
#particles-js canvas {
  width: 100vw;
  height: 100vh;
  background-color: rgb(202, 62, 62);
  z-index: -1 !important;
  overflow: hidden;
  position: absolute;
  pointer-events: all;
  background-repeat: no-repeat;
}

/* animations */
@keyframes socials-raise {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
